#docs-container {
    margin: 0 -15px 0 -15px;
  }
  a:visited {
    color: #337ab7;
  }
  .glyphicon-new-window {
    font-size: 10px;
  }
  #menu {
    border-bottom: 1px solid #ddd;
  }
  #menu a {
    text-decoration: none;
  }
  #menu-header {
    border-top: 1px solid #ddd;
    padding: 4px;
  }
  .group {
    background-color: #f9f9f9;
    cursor: pointer;
    border-top: 1px solid #ddd;
    padding: 4px 0;
  }
  .group table,
  .group td:first-child,
  .item table,
  .item td:first-child {
    width: 100%;
  }
  .item td {
    color: #337ab7;
    border-top: 1px solid #ddd;
    padding: 4px;
  }
  .glyphicon-triangle-top,
  .glyphicon-triangle-bottom {
    font-size: 8px;
    color: #666;
  }
  .glyphicon-chevron-right {
    font-size: 10px;
    color: #337ab7;
  }
  .menu-path {
    color: #666;
  }
  .content-anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -60px;
  }
  .content-resources {
    width: 100%;
    border-collapse: collapse;
  }
  .content-resources td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 5px;
  }
  .content-img-caption {
    font-size: 12px;
    font-style: italic;
    padding: 5px 0;
  }
  .content-img-border {
    border: 1px solid #ccc;
  }
  .item-info {
    font-style: italic;
    font-size: 12px;
    color: #888;
  }
  .ekko-lightbox .modal-dialog {
    width: auto;
    max-width: 1170px;
  }
  .hidden {
    display: none;
  }
  .show {
    display: block;
  }
  