.small-menu {
  font-size: 14px;
  text-align: right;
  white-space: nowrap;
}

.divider {
  color: #5e5d5d;
  padding: 0 8px;
}

.small-menu a {
  color: #325880;
  text-decoration: none;
  display: inline-block;
}

.small-menu a:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .small-menu {
    text-align: left;
    margin-bottom: 8px;
  }
}
