.small-menu {
  padding-top: 50px;
  font-size: 15px;
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
}

.divider {
  color: #5E5D5D;
  padding: 0 8px;
}

.small-menu a {
  color: #325880;
  text-decoration: none;
  display: inline-block; /* Ensure elements are inline */
}

.small-menu a:hover {
  text-decoration: underline;
}
