#menu {
    border-bottom: 1px solid #ddd;
}

#menu a {
    text-decoration: none;
}

#menu-header {
    border-top: 1px solid #ddd;
    padding: 4px;
}

.group {
    background-color: #f9f9f9;
    cursor: pointer;
    border-top: 1px solid #ddd;
    padding: 4px 0;
}

.group table,
.group td:first-child,
.item table,
.item td:first-child {
    width: 100%;
}

.item td {
    color: #337ab7;
    border-top: 1px solid #ddd;
    padding: 4px;
}

.glyphicon-triangle-top,
.glyphicon-triangle-bottom {
    font-size: 8px;
    color: #666;
}

.glyphicon-chevron-right {
    font-size: 10px;
    color: #337ab7;
}

.hidden {
    display: none;
}

.show {
    display: block;
}
