.doc-search-bar-container {
  position: relative;
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.doc-search-bar-background {
  background-color: #f7f7f7;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.doc-search-bar {
  display: flex;
  align-items: center;
}

.doc-search-bar .form-control {
  flex: 1;
  height: 45px;
  font-size: 16px;
  font-style: italic;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.doc-search-bar .doc-search-button {
  height: 45px;
  background-color: #325880;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 20px;
  font-size: 16px;
}

.doc-search-bar-container .tooltip-icon {
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  color: #325880;
}

.doc-search-bar-container .tooltip-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 10%;
  left: 10%;
  transform: translateX(10px) translateY(-50%);
  white-space: nowrap;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
  white-space: normal; 
  width: max-content;
  max-width: 200px;
  word-wrap: break-word; 
}

.doc-search-bar-container .tooltip-icon:hover::after {
  opacity: 1;
  visibility: visible;
}

.doc-search-bar-container .dropdown-menu {
  width: 60%;
  display: block;
  position: absolute;
  top: 100%;
}

@media (max-width: 768px) {
  .doc-search-bar-container {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .doc-search-bar-container {
    max-width: 100%;
  }
  .tooltip-icon {
    display: none;
  }
}
