:root {
    --border-color: #ccc;
    --background-color: #fff;
    --selected-background-color: #f0f0f0;
    --font-size: 16px;
    --padding: 10px;
    --border-radius: 4px;
    --input-height: 45px; /* Consistent height for both input and button */
}

.searchBarComponent {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.menuContainer {
    position: relative;
}

.searchBarTable {
    width: 100%;
}

.searchBarInput {
    position: relative;
    display: flex;
    width: 100%;
    height: var(--input-height); /* Consistent height */
}

.inputContainer {
    flex: 1;
    display: flex;
}

.searchBarInputText {
    width: 100%;
    padding: var(--padding);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    font-size: var(--font-size);
    box-sizing: border-box;
    height: 100%; /* Full height of the container */
}

.searchIcon {
    width: var(--input-height); /* Consistent width and height */
    height: var(--input-height); /* Consistent height */
    color: #fff;
    line-height: var(--input-height);
    background-color: rgba(50, 88, 128, 1);
    font-size: 18px;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBtn {
    font-size: var(--font-size);
}

.searchBarMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-top: none;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.searchBarMenu div {
    padding: var(--padding);
    cursor: pointer;
}

.searchBarMenu div:hover,
.valueSelected {
    background: var(--selected-background-color);
}

.value {
    padding: var(--padding);
    cursor: pointer;
}

.valueSelected {
    background-color: var(--selected-background-color);
}