.search-bar .form-control,
.search-bar .btn {
  height: 45px; /* Set a consistent height for the input and button */
}

.search-bar .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-icon {
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  color: #337ab7;
}

.tooltip-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.tooltip-icon:hover::after {
  opacity: 1;
  visibility: visible;
}

.related-faqs {
  display: block;
  margin-top: 10px;
  color: #337ab7;
  text-decoration: underline;
}
